<form class="form">
    <div layout="row" layout-align="end end">
        <a href="#" ng-click="$ctrl.share($event)" >
            <md-icon href="#" md-font-set="material-icons" style="padding: 0; margin: 0;"> close </md-icon>
        </a>
    </div>

    <h1 class="form-primary-heading">Registration form</h1>

    <md-input-container class="md-block">
        <md-icon md-font-set="material-icons"> account_box </md-icon>
        <label for="username-input" id="username-label">Name</label>
        <input type="text" id="username-input">
    </md-input-container>

    <md-input-container class="md-block">
        <md-icon md-font-set="material-icons"> email </md-icon>
        <label for="email-input" id="email-label">Email Address</label>
        <input type="text" id="email-input">
    </md-input-container>

    <div layout="row" layout-sm="column" layout-xs="column" class="md-block">
        <md-input-container flex>
            <md-icon md-font-set="material-icons"> lock </md-icon>
            <label for="password-input" id="password-label">Password</label>
            <input type="text" id="password-input">
        </md-input-container>

        <md-input-container flex id="confirm-password-wrapper">
            <md-icon md-font-set="material-icons" area-label="confirm-password">  </md-icon>
            <label for="confirm-password" id="confirm-password-label">Confirm password</label>
            <input type="text" id="confirm-password">
        </md-input-container>
    </div>

    <h2 class="form-secondary-heading">Personal details</h2>

    <div layout="row" layout-sm="column" layout-xs="column" class="md-block">
        <md-input-container flex>
            <md-icon md-font-set="material-icons" area-label="firstname">  </md-icon>
            <label for="first-name-input" id="first-name-label">First name</label>
            <input type="text" id="first-name-input">
        </md-input-container>

        <md-input-container flex>
            <md-icon md-font-set="material-icons" area-label="lastname">  </md-icon>
            <label for="confirm-password" id="last-name-label">Last name</label>
            <input type="text" id="last-name-input">
        </md-input-container>
    </div>

    <md-input-container id="select-gender" hide-xs>
        <md-icon md-font-set="material-icons" area-label="gender">  </md-icon>
        <label>Gender</label>
        <md-select name="type" ng-model="project.type">
            <md-option value="male">Male</md-option>
            <md-option value="female">Female</md-option>
        </md-select>
    </md-input-container>

    <md-checkbox ng-model="isChecked" aria-label="news-and-offers" style="margin-top: 3rem;">
        I want to receive new and special offers
    </md-checkbox>

    <md-checkbox ng-model="isChecked" aria-label="terms-and-conditions?">
        I agree with the Terms and Conditions
    </md-checkbox>

    <div layout="row" layout-align="end end">
        <md-button class="md-raised md-primary" style="background: #26a69a;">Primary</md-button>
    </div>
</form>


